<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search Videos</h1>
        
        <form method="POST">
            <input type="text" name="query" placeholder="Enter your query" required>
            <button type="submit">Search</button>
        </form>
        
        {% if results %}
        <h2>Results:</h2>
        <ul>
            {% for result in results %}
                <div class="result-item">
                    <a href="https://www.youtube.com/watch?v={{ result.video_id }}" target="_blank" class="thumbnail-container">
                        <img src="https://img.youtube.com/vi/{{ result.video_id }}/0.jpg" alt="video thumbail">
                    </a>
                    <li><strong>{{ result.title }}</strong> </li>
                </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
